@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap');
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  height: 100%;
  background-color: white;
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  display:none;
}
.breadcrumb-item.active {
    color: #869ab8;
    display: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
/*********************Sidebar*******************/
b, strong {
    font-size: 18px;
    margin-left: 0px;
    padding: 2px;
    border:none;
    margin-top: 2%;
}
.app-header.bg-light .navbar-brand {
    width: 250px;
    justify-content: left;
    padding: 0 2.25rem;
    color: #ffc107;
    font-size: 1.4rem;
    opacity: 1.2;
}
  .bg-light {
    background-color: #ecfbf4!important;
  }
  .app-header .navbar-toggler-icon {
    height: 23px;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23869AB8' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
  }
  .nav{
    width:200px;
    flex-direction:column;
    min-height:100%;
    padding:0;
    background-color:#ecfbf4;
    }
  .nav-item .nav-link>.img-avatar {
    height: 35px;
    margin: 0 99px!important;
  }
  .sidebar.sidebar-pills .nav-link.active .nav-icon, .sidebar.sidebar-pills .nav-link:hover .nav-icon {
    color: black;
  }
  .sidebar.sidebar-pills .nav-link.active, .sidebar.sidebar-pills .nav-link:hover {
    color: #1dbd22!important;
    background-color: rgba(0,0,0,.02);
  }
  .la-home:before, .la-home:hover{
    color: #1dbd22;
  }
  .la-info:before {
    color: grey;
  }
  .la.la-mortar-board:before{
    color: grey;
  }
  .la.la-file-code-o:before{
    color: grey;
  }
  .la-certificate:before{
    color: grey;
  }
  .la-certificate:before{
    color: grey;
  }
  .la-wrench:before {
    color: grey;
  }
  .la.la-envelope-o:before {
    color: grey;
  }
  .la-plus:before {
    color: grey;
}
/*********************** HOME **********************/

@keyframes slidy {
0% { left: 0%; }
35% { left: 0%; }
70% { left: -100%; }
100% { left: -200%; }
/* 95% { left: -300%; }
100% { left: -400%; } */
}

body { margin: 0; } 
  #slider{ 
    overflow: hidden;
    margin-top: -5%;
  }
  #slider figure img{
    width: 20%; 
    float: left; 
    max-height: 100%
  }
  #slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}

/********************** About *********************/
.about-area {
    padding-top: 110px;
    position: relative;
    background-color: white;
}
.about-head {
    text-align: center;
}
.row-center {
    align-items: center;
}
#about h2 {
    font-family: Dancing Script;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #1dbd22;
    margin-bottom: 20px;
}
#about h6 {
    font-family: Dancing Script;
    font-size: 20px;
    text-align: center;
    color: #ababab;
    position: relative;
    display: inline-block;
}
#about h6:before,
#about h6:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #ababab;
    top: 50%;
}
#about h6:before {
    left: 105%;
}
#about h6:after {
    right: 105%;
}
.about-text {
    margin-top:10%;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    text-align:justify;
}
.about-text p {
    font-size: 20px;
    line-height: 1.3;
    color: #888888;
    font-weight: 300;
}
.about-img {
    text-align: center;
}
.about-img img {
    position: relative;
    z-index: 0;
    border-radius: 7px;
    height: 334px;
    width: 425px;
    display: inline-block;
    background-color: #fff;
    margin-top: 15%;
}

@media screen and (max-width:500px){
  #about h2 {
    font-size: 40px;
  }
}
/********************* Skills ************************/
#skills{
  background-color:white;
  margin-bottom: 24%;
}
.skills-content {
    position: relative;
    top: 140px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 22.8px 15.2px rgba(0, 0, 0, 0.08);
    width: 95%;
    margin: 0 auto;
}
.my-skills-bg {
    height: 100%;
    background: url('images/skills-bg.jpg') no-repeat center top;
    background-size: cover;
    border-radius: 5px;
}
.skills-content h2 {
    font-family: Dancing Script;
    font-size: 45px;
    line-height: 0.5;
    color: #1dbd22;
    font-weight: 500;
    margin-top: 59px;
    margin-bottom: 13%;
}
.skills-content.row div[class^='col'] {
    padding-right: 0;
    padding-left: 0;
}
.skills-content {
    text-align: center;
    color: #191919;
}
.title-skills p {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 10px;
}
.skills-rates {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    position: relative;
    left: 6%;
}
.title-skills {
    font-size: 25px;
}
.progress-skills {
    width: 70%;
    display: inline-block;
    margin: 0 50px 0 0;
    position: relative;
    bottom: 20px;
}
.myBar-counter {
    display: inline-block;
    font-weight: 500;
    position: relative;
    bottom: 20px;
    font-family: Montserrat;
    font-size: 20px;
    color: #888888;
}
.myProgress {
    width: 100%;
    background-color: #efefef;
}
.myBar {
    height: 5px;
    background-color: #ffc107;
    text-align: center;
    width: 10%;
    opacity: 0.7;
}
/********************* responsive skills *********************/
@media screen and (max-width:500px){
  #skills {
    margin-bottom: 38%;
  }
  .skills-content h2 {
    font-size: 40px;
}
}
/********************* Education *********************/
  .educations-area {
    padding-bottom: 42px;
    background: url(images/bg-services.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: white;
  }
  .educations-area h2 {
    text-align: center;
    font-family: Dancing Script;
    font-size: 45px;
    color: #1dbd22;
    margin-bottom: 40px;
  }
  #education .row{
    margin-left: 3px;
  }
  #education .col-md-12{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 15px;
  }
  .education {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 2px #a4a4a5;
    padding: 35px 53px;
    margin-right: 16px;
    background-color: #efefef2e;
    margin-bottom:5%.
  }
  small {
    font-size: 80%;
    font-weight: 600
  }
  #education h3 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #0c0c0c;
    margin-bottom: 30px;
    margin-top: 25px;
    text-transform: capitalize;
    height: 26%;
    border: 1px solid black;
    padding: 2%;
    height: 35%;
  }
   .education p {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.87;
    color: #a29e9e;
  }
  .education i {
    font-size: 38px;
    color: #fefefe;
  }

/************************RESPONSIVE education************************/  
  @media screen and (max-width:500px){
    #education .col-md-12{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      margin-left: 3%;
    }
    .educations-area h2 {
      font-size: 40px;
      margin-bottom: 40px;
    }
    #education h3 {
      font-size: 11px;
    }
    #education .row {
    margin-left: -16px;
    }
  }  

  @media screen and (max-width:991px){
    #educations-area h2 {
      font-size: 50px!important;
      margin-bottom: 30px;
    }
    #education h3 {
      height: 22%!important;
      text-transform: capitalize!important;
    }
  }  
/******************** WORK *********************/
.project-container {
    margin-left:40px;
}
#work h2{
    font-family: Dancing Script;
    font-size: 45px;
    color: #1dbd22;
    margin-bottom: 63px;
    margin-top: 72px;
    margin-left: 29%;
}
.main1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
}
.singleBlog img {
    max-width: 96%;
    display: block;
    border-radius: 29px;
    height: 250px;
}  
.singleBlog a {
  text-align: center;
  display: block;
  outline-color: black;
  text-decoration: revert;
  color: black;
  margin-right: 66px;
}

@media screen and (max-width:500px){
  #work h2 {
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 24%;
}
  .main1 {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 18%;
  }
  .singleBlog a {
    margin-right: 125px;
  }
  .singleBlog img {
    width: 67%;
  }

}
/**********************FOOTER*********************/
.footer{
  margin-top:10%!important;
  color:black;
  text-align: center;
  font-weight: 400;
  padding: 2rem 0;
  margin: 3px;
  background-size: cover;
}
.footer__title{
  font-size: 1rem;
  margin-bottom: 5%;
}
.footer__social{
  margin-bottom: 5%;
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.copyright{
  color:#bfbcbc;
}
/************************Contact************************/
.bg {
    margin-left: 33%!important;
    margin-right: 33%!important;
}

.page-item.active .page-link {
    display: none;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    display: none;
}
.btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #1dbd22!important;
    border-color: #fcfcfc!important;
}
.btn-link {
    color: #45d50a;
}